/* stylelint-disable comment-empty-line-before */
/* stylelint-disable selector-class-pattern */
:root {
	font-size: 1rem;
	line-height: 1.5;
	font-weight: 400;
	background-color: #fff;
	color: #000;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}

a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	width: 100%;
}

svg {
	height: auto;
	max-width: 100%;
	width: 100%;

	& text {
		fill: currentcolor;
		font-family: 'General Sans', sans-serif;
		font-size: 102px;
		fill-opacity: 0;
		line-height: 1;
		text-transform: uppercase;
	}

	& .text--designer {
		font-weight: 300;
	}

	& .text--developer {
		font-weight: 500;
	}

	& .text--nerd {
		font-weight: 700;
	}

	& .designer__path {
		fill: transparent;
		stroke-width: 1px;
		stroke: rebeccapurple;
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
	}

	& .designer__line {
		fill: rebeccapurple;
		opacity: 0;
	}

	& .developer__mask {
		transform: translate(-687px, 0);
	}

	& .developer__cursor {
		opacity: 0;
	}

	& .nerd__lang {
		display: none;
	}

	& .nerd__lang--futurama {
		display: block;
		stroke: #FEFB92;
		stroke-width: 2px;
		filter: drop-shadow(0 0 2px rgba(209 180 53 / 25%));
	}
}
